# Dependencies
node_modules/
package-lock.json

# Test Results
test-results/
playwright-report/
allure-results/
allure-report/

# Logs
logs/
*.log
npm-debug.log*

# Environment
# .env


# Screenshots
screenshots/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Build
dist/
build/

# Temporary files
*.tmp
.cache/
